<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyAwesomeLambda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# javascript_pack_tag 'application' %>
    <%= stimulus_include_tags %>
  </head>
  <body data-controller="hello">
    <%= render 'top_nav' %>

    <%= yield %>
  </body>
</html>



